{% extends 'base.html' %}
{% block title %}
<title>On Maps | About Us</title>
{% endblock %}
{% block forpro %}
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<style media="screen">
  html{
    background-image: url(https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX3157624.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  body{
    background-color: transparent
  }
</style>

 <div class="container text-center">
  <div class="" style="margin-top:2rem">
    <style media="screen">
      a{
        color:black;
      }

      a:hover{
        color:black;
      }
    </style>
    <a onclick="goBack();"><i class="ion-android-arrow-back" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
<script>
function goBack() {
    window.history.back();
}
</script>
   <a href="/home/home"><i class="ion-home" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
  <a href="/home/login"><i class="ion-person" style="font-size:2rem;margin-left:1rem;margin-right:1rem;color:white"></i></a>
  </div>
  <div class="uk-card uk-card-default uk-card-body" style="margin-top:3rem;background-color:black;opacity:0.8">

           <h2 style="color:white">About ON MAPS</h2>
           <p style="color:white"><h4 class="text-important"style="color:white">ON MAPS is User-Friendly and Interactive interface between a Producer
           and a Consumer.It not only lets a consumer find his desired product around him but also displays the various
           stores location,the stock of the product and other details about the store.
               On the other hand,Producers are provided with personal user profile,where they can add/update their product details
               </h4></p>
           <br>

            <div class="row" style="margin:0 auto">
              <div class="col" style="margin:0 auto;margin-bottom:1rem">
                <div class="uk-card uk-card-default uk-width-1-2@m" style="background-color:cornsilk">
  <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png">
          </div>
          <div class="uk-width-expand">
            <dt class="uk-card-title uk-margin-remove-bottom">Bhargav Ram</dt>
              <!-- <dt class="uk-card-title uk-margin-remove-bottom">Bhargav Ram</dt> -->
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">March 12,1999</time></p>
          </div>
      </div>
  </div>
  <div class="uk-card-body">
      <p>B.E 2/4</p>
      <p>IT-1</p>
      <p>Roll.no-160116737036</p>
  </div>
  <div class="uk-card-footer">
    <a href="#" class="uk-button uk-button-text"> <i class="ion-social-instagram" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>
    <a href="#" class="uk-button uk-button-text"> <i class="ion-social-twitter" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>

  </div>
</div>
              </div>
              <div class="col" style="margin:1 auto">
                <div class="uk-card uk-card-default uk-width-1-2@m"  style="background-color:cornsilk">
  <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
              <img class="uk-border-circle" width="40" height="40" src="https://www.shareicon.net/data/2016/09/01/822711_user_512x512.png">
          </div>
          <div class="uk-width-expand">
              <dt class="uk-card-title uk-margin-remove-bottom" style="color:black">Anantha Rohan</dt>
              <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">February 02,1999</time></p>
          </div>
      </div>
  </div>
  <div class="uk-card-body">
    <p>B.E 2/4</p>
    <p>IT-1</p>
    <p>Roll.no-160116737034</p>
  </div>
  <div class="uk-card-footer">
      <a href="#" class="uk-button uk-button-text"> <i class="ion-social-instagram" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>
      <a href="#" class="uk-button uk-button-text"> <i class="ion-social-twitter" style="font-size:2rem;margin-left:0.5rem;margin-right:0.5rem;"></i> </a>

  </div>
</div>
              </div>
            </div>
       </div>
   </div>
</div>
</div>






{% endblock %}
