{% extends 'base.html' %}
{% block title %}
<title>On Maps | Edit Profile</title>
{% endblock %}
{% block head %}
{% endblock %}
{% block body %}
<!-- <div class="container text-center">
  <div class="col">
    <form class="form-control" method="POST">
      <h3>Edit or Update your profile</h3>
      <br>
      {% csrf_token %}
      {{form.as_p}}
      {{p.as_p}}
       <a href="http://127.0.0.1:8000/profile/edit_profile" class="btn btn-primary">Continue Editing</a>
      <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </form>
  </div>
</div> -->

<style media="screen">
html{
  background-image: url("https://cn.pling.com/img/1/a/7/d/5d6291d4f7be91e68597555bc4e86334f80d.png");
  background-repeat: no-repeat;
  background-size: cover;
}
body{
  background-color: transparent;
  overflow: hidden;
}
</style>

<div class="container text-center" style="width:20rem;opacity:0.8;color:white;background-color:transparent">
<div class="row">
  <div class="col">
    <form class="form-control" method="POST" style="border-color:transparent;width:20rem;color:white;background-color:black;padding-bottom:2rem" >
      <h3 style="color:white">Change Password</h3>
      <br>
      {% csrf_token %}
      {{form}}
      <button type="submit" class="btn btn-primary" name="button">Done</button>
    </form>
  </div>
</div>

</div>



{% endblock %}
